@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.navbar {
  min-height: 10rem;
  padding: 0 10rem;
  display: flex;
  align-items: center;
  background-color: #00212e;
}
.nav-logo {
  width: 35%;
}
#logoNav {
  width: 50%;
}
.links-nav {
  width: 65%;
  display: flex;
  justify-content: space-around;
}
.links-nav a {
  color: white;
}
