.navbar {
  height: 7rem;
  padding: 0 10rem;
  display: flex;
  align-items: center;
  background-color: #00212e;
}
.nav-logo {
  width: 35%;
}
#logoNav {
  width: 12rem; /*192px*/
}
.links-nav {
  width: 65%;
  display: flex;
  justify-content: space-around;
}
.links-nav a {
  color: white;
  font-size: 1.25rem;
}
